:root {
    --logo-font: 'Megrim', cursive;
    --main-font: 'Space Mono', monospace;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font);
}

button {
    cursor: pointer;
}

header {
    margin: 48px;
}

header p {
    font-family: var(--logo-font);
    font-size: 2.4em;
}

#audio-player {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    margin: 48px
}

.project-name {
    margin-top: 48px;
    font-size: 2em;
}

#track-metadata {
    display: flex;
    font-style: italic;
}

#track-metadata p {
    margin: 12px 48px 36px 48px;
}

#audio-buttons button {
    height: 48px;
    width: 48px;
    padding: 12px;
    margin: 12px;
    border-radius: 100%;
    border: none;
    background-color: rgb(217, 217, 217);
}

.tracks {
    text-align: center;
}

.track {
    margin: 64px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.track p {
    font-size: 1.2em;
    margin-right: 36px;
}

.track i {
    margin-right: 12px;
}

.track-progress {
    font-size: 1.2em;
}

.fa-volume-mute {
    display: none;
}

#download-button {
    margin-bottom: 48px;
    font-family: var(--main-font);
    padding: 8px;
    border-radius: .4em;
    border: none;
    background-color: rgb(183, 227, 180);
}