:root {
    --logo-font: 'Megrim', cursive;
    --main-font: 'Space Mono', monospace;

}

/* GLOBAL STYLES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font);
}

button {
    cursor: pointer;
}

/* HEADER */

header {
    margin: 48px 48px 0 48px;
}

header p {
    font-family: var(--logo-font);
    font-size: 2.4em;
}

nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

nav a {
    color: inherit;
}

.nav-link {
    margin-left: 32px;
    font-size: 1em;
}

.nav-links button {
    margin-bottom: 48px;
    font-family: var(--main-font);
    padding: 10px 20px;
    border-radius: .4em;
    border: none;
    color: white;
    background: rgb(183, 227, 180);
    background: linear-gradient(45deg, rgba(183, 227, 180, 1) 0%, rgba(86, 149, 137, 1) 66%);
}

/* HOME PAGE */

.headline {
    text-align: center;
}

.headline h1 {
    font-family: var(--main-font);
    font-size: 5rem;
    text-transform: uppercase;
    line-height: 9rem;
}

.headline p {
    font-family: var(--main-font);
    font-size: 1.5rem;
}

.tagline {
    margin-bottom: 20px;
}

.collabo-btn {
    font-family: var(--main-font);
    padding: 10px 20px;
    border-radius: .4em;
    border: none;
    color: white;
    background: rgb(183, 227, 180);
    background: linear-gradient(45deg, rgba(183, 227, 180, 1) 0%, rgba(86, 149, 137, 1) 66%);
    margin: 10px 0;
}

.button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.project-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 20px;
}

.project-list {
    height: 280px;
    width: 280px;
    background: linear-gradient(45deg, rgba(183, 227, 180, 1) 0%, rgba(86, 149, 137, 1) 66%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 8px 8px 8px -8px rgb(0 0 0 / 50%);
    border-radius: 0.4em;
    padding: 0.05em;
}

a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
}

.project-description {
    color: black;
    font-size: 1.5rem;
    text-align: center;
    font-family: var(--main-font);
    position: absolute;
}

.avatar {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    /* background-color: red; */
    position: relative;
    left: 30%;
    top: 30%;
    margin: 0 10px 0 0;
}
        /* display: grid;
        grid-template-rows: 1fr 1fr 1fr;
grid-template-areas: "text . image"; */